# Ver mas sobre ignorar archivos en 
#   https://help.github.com/articles/ignoring-files
#
# Si se encuentra ignorando archivo temporales generados por su editor de texto
# o sistema operativo, probablemente prefira agregar un archivo de que 
# ignorar global:
#   git config --global core.excludesfile '~/.gitignore_global'

# Ignorar configuraciones
/.bundle
config/database.yml
.env

# Ignorara bases de datos SQLite
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignorar bitácoras y archivos temporales
/log/*.log
/tmp
*~
*swp
*.log
*swp
*.core
pkg/
test/dummy/config/database.yml
test/dummy/tmp/
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/.sass-cache
test/dummy/public/
test/dummy/node_modules/
tmp/
herram/
.byebug_history

# Ignorando datos de prueba
test/dummy/archivos/
*_test.rb.copia

# Ignorando resultado de pruebas de cobertura y pruebas
coverage/

# Otros
