language: ruby

rvm:
        - 2.4.0

addons:
        postgresql: '9.6'

notifications:
        email: false

env:
        global:
                - NOKOGIRI_USE_SYSTEM_LIBRARIES=true
                - CC_TEST_REPORTER_ID=e83ead47cfc0912ab49acb6658bf8a22bd4257d73c5ddcd8eebfb450efd51640

before_script:
        - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
        - chmod +x ./cc-test-reporter
        - ./cc-test-reporter before-build

before_install: 
        - sudo locale-gen --no-archive es_CO.UTF-8
        - sudo /etc/init.d/postgresql stop
        - sudo /etc/init.d/postgresql start 9.6
        - cd test/dummy
        - psql -c 'CREATE DATABASE sip_pru;' -U postgres
        - bundle install
        - cp config/database.travis.yml config/database.yml
        - cp db/structure.sql db/structure.sql.copia # Return SQL from 10 to 9.6
        - sed -e 's/provider = libc,//g' db/structure.sql.copia > db/structure.sql 
        - rake db:setup
        - rake sip:indices
        - cd ../..

script: 
        - bundle exec rails test -b

after_script:
        - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT

