/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap/dist/css/bootstrap.css
 *= require font-awesome/css/font-awesome.css
 *= require jquery-ui/themes/base/accordion.css
 *= require jquery-ui/themes/base/all.css
 *= require jquery-ui/themes/base/autocomplete
 *= require jquery-ui/themes/base/controlgroup.css
 *= require jquery-ui/themes/base/core.css
 *= require jquery-ui/themes/base/datepicker.css
 *= require jquery-ui/themes/base/menu.css
 *= require jquery-ui/themes/base/sortable.css
 *= require jquery-ui/themes/base/progressbar.css
 *= require jquery-ui/themes/base/spinner.css
 *= require jquery-ui/themes/base/resizable.css
 *= require jquery-ui/themes/base/tabs.css
 *= require jquery-ui/themes/base/base.css
 *= require jquery-ui/themes/base/dialog.css
 *= require jquery-ui/themes/base/selectable.css
 *= require jquery-ui/themes/base/theme.css
 *= require jquery-ui/themes/base/button.css
 *= require jquery-ui/themes/base/draggable.css
 *= require jquery-ui/themes/base/selectmenu.css
 *= require jquery-ui/themes/base/tooltip.css
 *= require jquery-ui/themes/base/checkboxradio.css
 *= require jquery-ui/themes/base/slider.css
 *= require chosen-js/chosen
 *= require bootstrap-datepicker/dist/css/bootstrap-datepicker.css
 *= require pick-a-color/build/1.2.2/css/pick-a-color-1.2.2.min.css
 *= require_tree .
 */

.pagination {
	text-align: center;
}

p.derechos {
	font-size: 80%;
	color: #000000;
	background-color: #f8f8f8;
	border-top: 1px solid #e7e7e7;
}

.anexosdiv {
	border: 1px solid #e7e7e7;
	border-radius: 5px;
}



