  <div class="form-actions">
    <% if controller.registrar_en_bitacora %>
      <% regcorto = clase.demodulize.underscore %>
      <input class='bitacora_cambio' id='<%= regcorto %>_bictacora_cambio' 
             name='<%= regcorto %>[bitacora_cambio]' type='hidden'>
    <% end %>
    <%= f.button :submit, 
      (f.object.new_record? ? t('Crear') : t('Actualizar')), 
      class: 'btn-primary',
      'data-turbo' => false # Permite presentar errores de validación
    %>
    <%= render partial: 'form_btncancelar' %>
  </div>
  
