<div class="row">
  <div class="col-sm-4">
      <% ng = (!genclase.nil? && genclase == 'F') ? 'Nueva' : 'Nuevo' %>
      <% if @registros.size > 5 && can?(:new, clase.constantize)%>
        <%= link_to t('.new', default: [ng, t("helpers.links.new")]),
          new_modelo_path(@registros), class: 'btn btn-primary' 
        %>
    <% end %>
  </div>
  <div class="col-sm-offset-4 col-sm-4">
    <%= titulo %>: <span id="numregistros"><%= @registros.count %></span>
  </div>
</div> <!-- row -->

