<div class="row">
  <div class="col-sm-4">
    <% if @registros && @registros.size > 5 && can?(:new, clase.constantize)%>
      <% rutaf = clase.pluralize.underscore + '/index_boton_nuevo' %>
      <% if lookup_context.find_all(rutaf, [], true).any? %>
        <%= render partial: rutaf, locals: {f: f} %>
      <% else %>
        <%= render partial: 'index_boton_nuevo', locals: {f: f} %>
      <% end %>
    <% end %>
  </div>
  <div class="offset-sm-4 col-sm-4">
    <%= render partial: 'index_contadores', locals: {titulo: titulo, f: f} %>
    <%= render partial: 'index_encabezado_complemento' %>
  </div>
</div> <!-- row -->

