<div class="row">
  <div class="col-sm-4">
      <% ng = (!genclase.nil? && genclase == 'F') ? 'Nueva' : 'Nuevo' %>
      <% if @registros && @registros.size > 5 && can?(:new, clase.constantize)%>
        <%= link_to t('.new', default: [ng, t("helpers.links.new")]),
          new_modelo_path(@registros), class: 'btn btn-primary',
          data: { turbolinks: false }
        %>
    <% end %>
  </div>
  <div class="offset-sm-4 col-sm-4">
    <%= titulo %>: <span id="numregistros"><%= @registros ? @registros.count : '' %></span>
    <%= render partial: 'index_encabezado_complemento' %>
  </div>
</div> <!-- row -->

