<div class="row">
  <div class="col-sm-5">
    <% if @registros %>
      <%= will_paginate @registros, { param_name: :pagina ,
        class: 'page-link' }  %>
    <% end %>
  </div>
  <div class="col-sm-2">
    <% ng = (!genclase.nil? && genclase == 'F') ? 'Nueva' : 'Nuevo' %>
    <% if can?(:new, clase.constantize) && @registros %>
      <%= link_to t('.new', default: [ng, t("helpers.links.new")]),
        new_modelo_path(@registros), 
        class: 'btn btn-primary',
        data: { turbolinks: false } %>
    <% end %>
  </div>
</div>

