<div class="row">
  <div class="col-sm-4">
    <%= will_paginate @registros, { param_name: :pagina }  %>
  </div>
  <div class="col-sm-2">
    <% ng = (!genclase.nil? && genclase == 'F') ? 'Nueva' : 'Nuevo' %>
    <% if can?(:new, clase.constantize) %>
      <%= link_to t('.new', default: [ng, t("helpers.links.new")]),
        new_modelo_path(@registros), 
        class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>

