<%- model_class = clase.constantize -%>
<div class="page-header">
  <% if !defined?(@formulario_sin_titulo) || !@formulario_sin_titulo %>
    <h1>
      <% if defined?(@titulo) %>
        <%= @titulo %>
      <% else %>
        <%=t '.title', 
          :default => [
            t("Edita") + " " + model_class.human_attribute_name(
              model_class.model_name.to_s.demodulize) 
          ] %>
      <% end %>
    </h1>
  <% end %>
</div>

<%= render :partial => 'form' %>
