  <li>PostgreSQL. 
    <span id='ver_postgresql'>
      <%= ActiveRecord::Base.connection.select_value('SELECT version()') %>
    </span>
  </li>

  <li>Ruby 
    <span id='ver_ruby'>
      <%= RUBY_VERSION %>
    </span>
  </li>

  <li>Ruby on Rails 
    <span id='ver_rails'>
      <%= Gem::Specification.find_by_name("rails").version.to_s %>
    </span>
  </li>

  <li>jQuery 
    <span id='ver_jquery'></span>
    <script type="module">$('#ver_jquery').html($.fn.jquery)</script>
  </li>

  <li>jQuery-UI
    <span id='ver_jquery-ui'></span>
    <script type="module">$('#ver_jquery-ui').html($.ui.version)</script>
  </li>

  <li>
    <div class='btn'>Bootstrap</div>  
    <span id='ver_bootstrap'></span>
    <script type="module"> setTimeout(() => {
      $('#ver_bootstrap').html($.fn.tooltip.Constructor.VERSION)}, 2000);
    </script>
  </li>

  <li>
    <i class='fa fa-flag'>Font-awesome</i>
    <span id='ver_fontawesome'></span>
    <script type="module"> 
      //https://stackoverflow.com/questions/3368837/list-every-font-a-users-browser-can-display
      function verFontAwesome() {
        let { fonts } = document;
        const it = fonts.entries();

        let arr = [];
        let done = false;
        let ver = '';

        while (!done) {
          const font = it.next();
          if (!font.done && font.value[0].family.includes('Font Awesome')) {
            ver = font.value[0].family;
          } else {
            done = font.done;
          }
        }
        return ver
      }
      setTimeout(() => {$('#ver_fontawesome').html(verFontAwesome())}, 1000);
    </script>

  </li>

  <li>
    <select class="form-control select optional sip-sf-bs-input chosen-select" 
            multiple="multiple" name="f[ejchosen_ids][]" 
                                id="f_ejchosen_ids">
      <option selected="selected" value="chosen">chosen</option>
    </select>
  </li>

  <li>
    <div class="string optional f_fecha_localizada form-group-valid">
      <label class="string optional" for="f_fecha_localizada">Fecha</label>
      <input class="form-control string optional sip-sf-bs-input span10" 
             data-behaviour="datepicker"
             type="text"
             value="<%= Sip::FormatoFechaHelper.fecha_estandar_local '2013-01-07' %>" 
             name="f[fecha_localizada]" id="f_fecha_localizada">
    </div>
  </li>
