<div id="errores">
  <% if f.object.errors.any? %>
    <% # Dejamos mensajes interesantes y no repetidos %>
    <% presenta = [] %>
    <% f.object.errors.full_messages.each do |mens| %>
      <% if !mens.match(/'[A-Za-z0-9]*' no válido/)
           !presenta.include?(mens)
         %>
       <% presenta << mens %>
     <% end %>
   <% end %>

    <div id="error_explanation">
      <div class="alert alert-error">
        La ficha tiene 
        <% num = presenta.count == 0 ? f.object.errors.count : presenta.count %>
        <%= pluralize(num, 'error', plural: 'errores') %>.
      </div>
      <ul>
        <% presenta.each do |mens| %>
          <li><%= mens %></li>
        <% end %>
      </ul>
      <%= f.error_notification %>
    </div>
  <% end %> 
</div> <!-- id: errores -->
