<article>
<h1>Acerca de</h1>
<p>sip es un motor para construir sistemas de información.</p>
<p>Este motor de
<a href="http://www.pasosdeJesus.org/dominio_publico_colombia.html" target="_blank">dominio público de acuerdo a la legislación Colombiana</a>, 
ha sido desarrollado por 
<a href="http://www.pasosdeJesus.org" target="_blank">Pasos de Jesús</a>.
</p>
<p>

Agradecemos a diversas organizaciones que han apoyado a Pasos de Jesús en 
el desarrollo de <strong>sip</strong> y de sistemas de información que se basan
en este, favor ver:
	<a href="https://github.com/pasosdeJesus/sivel2/blob/master/CREDITOS.md">https://github.com/pasosdeJesus/sivel2/blob/master/CREDITOS.md"</a>
</p>
<p>
Logo de dominio público basado en:
	<a href="https://openclipart.org/detail/141613/a-simple-representation-of-a-electric-3-phase-motor-by-eypros">https://openclipart.org/detail/141613/a-simple-representation-of-a-electric-3-phase-motor-by-eypros</a>
</p>
<p>
Agradecimientos a Alejandro Cadena (sig@cinep.org.co) por identificar 
actualización a DIVIPOLA 2015
</p>
</article>
