<p>Hola <%= @resource.email %>!</p>

<p>Alguien a solicitado un enlace para cambiar su clave.  Puede hacerlo mediante el enlace siguiente. </p>

<p><%= link_to 'Cambiar mi clave', edit_password_url(
  @resource, :reset_password_token => @token) %></p>

<p>Si no lo solicitó, por favor ignoré este mensaje.</p>
<p>Su clave no cambiará mientras no ingese al enlace anterior y establezca una nueva.</p>
